body {
    margin: 0;
    background-color: #F9F5EB;
}

/* Nav Bar components */

.top-container {
    background-color: #D72323;
    height: 5rem;
}

.gallito-img {
    position: absolute;
    height: 4rem;
    padding: .5rem 2rem;
}

.nav-bar {
    float: right;
    padding: 2rem 4.5rem 0 0;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.07rem;
    padding:2.25rem 0 1.6875rem 0;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin: 0 1rem 0 1rem;
}

.nav-item:hover {
    transition: .1s;
    color:black;
    border-bottom: 2px solid;
}

.nav-logout {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.07rem;
    padding:2.25rem 0 1.6875rem 0;
    font-weight: bolder; 
    color: black;
    text-decoration: none;
    margin-left: 2rem;
}

.nav-logout:hover {
    transition: .1s;
    color:white;
}

.exit-icon {
    height: .8rem;
}

.mid-container {
    width: 100%;
}

.welcome-container {
    padding: 8% 0 15% 10%;
    position: absolute;
    width: 100%;
    /* background-color: gray; */
    background-image: url("images/tower2.png");
    background-size:cover;
    background-repeat: no-repeat;
}


.home-title {
    margin: 0;
    color:black;
    font-size: 50px;
    text-shadow: 2px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.07rem;
}

.home-p {
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 0.04rem;
    width:28.125rem;
    line-height: 2.2;
}

.uni-link {
    color:#D72323;
    text-decoration: none;
}

.uni-link:hover {
    text-decoration: underline;
}

.rectangle-container {
    position: absolute;
    margin-top: 400px;
}

.first-rectangle {
    position: absolute;
    width:48rem;
    height:30rem;
    margin: 0 6.25rem 0 2rem;
    border-radius: 10px;
    /* background-color: white; */
    background: linear-gradient(225deg, #ffffff 0%, #f2f2f2 100%);
    -webkit-box-shadow: -4px 3px 17px 2px rgba(0,0,0,0.56); 
    box-shadow: -4px 3px 17px 2px rgba(0,0,0,0.56);
}

.second-rectangle {
    position:absolute;
    width:29rem;
    height:30rem;
    margin: 0 2rem 0 52rem;
    border-radius: 10px;
    /* background-color: white; */
    background: linear-gradient(225deg, #ffffff 0%, #f2f2f2 100%);
    -webkit-box-shadow: -4px 3px 17px 2px rgba(0,0,0,0.56); 
    box-shadow: -4px 3px 17px 2px rgba(0,0,0,0.56);
}

.list-title {
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.04rem;
    width:auto;
    line-height: 2.2;
    text-align: center;
}

.list-items {
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-weight: 500;
    letter-spacing: 0.04rem;
    width:25rem;
    line-height: 3;
    list-style: none;
}

.item-title {
    font-weight: bold;
    color: #D72323;
}

.icons {
    height: 1rem;
    margin-right: 1rem;
}

/* Tabla de cursos */

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #D72323;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #D72323;
}

.styled-table tbody tr:hover {
    background-color: #dddddd;
}

.creds-td {
    text-align: center;
}

.total-creds {
    float:right;
    margin: 0 6.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04rem;
    word-spacing: 3px;
}


.bottom-container{
    position:relative;
    width:100%;
    height:6.25rem;
    background-color: #333333; 
    margin-top: 75%;
    margin-bottom: 0;
}

.bottom-p {
    color:white;
    float:right;
    margin: 45px 12.5px 0 0;
}

.bottom-img {
    height: 75px;
    margin: 12.5px 0 0 12.5px;
}

.middle {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  place-content: center;
  width: 100%;
}

.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}

.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
  color:black;
}
.eula {
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-size: 16px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #D72323;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}

.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  black;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  outline:0;
  width: 100%;
}


